<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.leo.test">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InicioActivity" android:screenOrientation="portrait"><!-- con android:screenOrientation="portrait" bloqueo que no se rote la pantalla -->
            <intent-filter><!-- esto marca cual es la pantalla principal cuando abre la app -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" android:screenOrientation="portrait" /><!-- con android:screenOrientation="portrait" bloqueo que no se rote la pantalla -->
        <activity android:name=".ResultadoBusquedaActivity" android:screenOrientation="portrait" />
    </application>

</manifest>